<ul>
  
  <li><a href="https://thoughts.hnr.fyi/posts/2023/05/platforms/" rel="noopener">platforms and reach</a><br>
  <small class="source is-block">by <a href="https://thoughts.hnr.fyi/">thoughts...</a></small>
              <small class="date has-text-grey-dark">May 7, 2023</small>
  </li>
  
  <li><a href="https://gfsc.studio/blog/2023/raftt-design-blog-2/" rel="noopener">RAFTT design diary #2</a><br>
  <small class="source is-block">by <a href="https://gfsc.studio/">Home on Geeks for Social Change</a></small>
              <small class="date has-text-grey-dark">April 17, 2023</small>
  </li>
  
</ul>
